In [0]:
%pip install sqlalchemy psycopg2-binary

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.43-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 29.0 MB/s eta 0:00:00
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 63.9 MB/s eta 0:00:00
Collecting typing-extensions>=4.6.0
  Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.6/44.6 kB 5.4 MB/s eta 0:00:00
Collecting greenlet>=1
  Downloading greenlet-3.2.4-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (584 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 584.4/584.4 kB 42.9 MB/s eta 0:00:00
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, sqlalchemy
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.4.0
    Not uninstalling typing-extensions at /databricks/python3/lib/python3.10/site-packages, outside environment /local_disk0/.ephemeral_nfs/envs/pythonEnv-fb8cbe2f-2ff1-47bb-a8e8-9524b0dc38df
    Can't uninstall 'typing_extensions'. No files were found to uninstall.
Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.10 sqlalchemy-2.0.43 typing-extensions-4.15.0
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

In [0]:
dbutils.library.restartPython()

In [0]:
import pandas as pd
import numpy as np
import psycopg2
import random
import datetime
import pytz
import pyspark
from pyspark import sql as pysql
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType, StructField,
    StringType, ShortType, IntegerType, LongType, DoubleType, BooleanType,
    TimestampType, ArrayType, MapType
)
from pyspark.sql import functions as F
from sqlalchemy import create_engine

# 데이터 불러오기
- df_user, df_jobskill

In [0]:
df_jobskill = pd.read_csv('job_skill_ratio.csv')
df_jobskill.head()

           직무       비율                                                 스킬
0  서버/백엔드 개발자  23.1391  SwiftUI;Xcode;vscode.dev;AWS;GCP;Java;Kotlin;S...
1   프론트엔드 개발자  15.2818  JavaScript;CSS 3;HTML5;Uniform CSS;ES6;Rust;th...
2   웹 풀스택 개발자   0.5000  Python;Backendless;GitHub;Jira;Java;AWS;RDB;AW...
3   안드로이드 개발자   3.5470  Android OS;iOS;Kotlin;Jira;Git;Confluence;Swif...
4     iOS 개발자   2.8573  Android OS;iOS;Kotlin;Jira;Git;Confluence;Swif...

In [0]:
conn = psycopg2.connect(
    host="cloud-postgredb-server.postgres.database.azure.com",
    port="5432",
    database="postgres",
    user="Drawbridge",
    password="asdASD123!@#"
)

df_user = pd.read_sql("SELECT * FROM bronze.brz_employee_info;", conn)
display(df_user.head(2))

conn.close()

/root/.ipykernel/1250/command-8227673275590492-3103466040:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_user = pd.read_sql("SELECT * FROM bronze.brz_employee_info;", conn)

employee_id,employee_name,age,age_category,gender,location,education,career,job,skills_current,skfn_current,work_location,hope_salary,skills_past,skfn_past,skills_p2,skfn_p2,skills_p3,skfn_p3,skills_p4,skfn_p4,skills_p5,skfn_p5,skills_p6,skfn_p6,timestamp
a00000001,백XX,21,25세이하,남자,인천광역시 부평구,대졸(예정),신입,SW/솔루션,Adobe Target;FW;MSA,5;1;4,"인천광역시 부평구, 인천광역시 동구",3400~4000,null,null,null,null,null,null,null,null,null,null,null,null,2025-09-23 09:33:15.850945+09:00
a00000002,황XX,37,36세~40세,남자,광주광역시 북구,대졸(예정),11년,SW/솔루션,React Router;Ccnp;NestJS,46;46;43,"광주광역시, 전북특별자치도",4000이상,null,null,null,null,null,null,null,null,null,null,null,null,2025-09-23 09:33:15.850945+09:00

In [0]:
df_user.columns

Index(['employee_id', 'employee_name', 'age', 'age_category', 'gender',
       'location', 'education', 'career', 'job', 'skills_current',
       'skfn_current', 'work_location', 'hope_salary', 'skills_past',
       'skfn_past', 'skills_p2', 'skfn_p2', 'skills_p3', 'skfn_p3',
       'skills_p4', 'skfn_p4', 'skills_p5', 'skfn_p5', 'skills_p6', 'skfn_p6',
       'timestamp'],
      dtype='object')

## 필요한 컬럼만 추출

# 업데이트 스킬/숙련도 생성

## 업데이트할 인원 선정

In [0]:
# 랜덤 인원 수
num = random.randint(100, 250)
## 몇명이 좋을까요? 사람이 10000명이 넘어서 하루에 4번 돌아가니까.. 100명??
# 흠냐링........................................ 전 일단 보여지니까 1000명 생각했는디 넘 많을까요
# 근데 저 ppppp 저거 그대로 쓰나요????? 저거 브론즈에 추가해요??????????
# 아님 브론즈 유저에는 current만 넣어두고 스킬/숙련도만 있는 걸 따로 빼는 게 나을까여
# 지금 브론즈에는 pp만 추가해둿는데 숭냐링.......
# 음.. 
#  랜덤 인덱스 생성
random_indices = random.sample(range(len(df_user)), num)
# print('랜덤 인덱스:', random_indices)

# 업데이트할 스킬/숙련도 추출
df_random_user = df_user.loc[random_indices]
# display(df_random_user)

In [0]:
# skills_current, skfn_current -> skills_past, skfn_past
df_random_user['skills_p6'] = df_random_user['skills_p5']
df_random_user['skfn_p6'] = df_random_user['skfn_p5']
df_random_user['skills_p5'] = df_random_user['skills_p4']
df_random_user['skfn_p5'] = df_random_user['skfn_p4']
df_random_user['skills_p4'] = df_random_user['skills_p3']
df_random_user['skfn_p4'] = df_random_user['skfn_p3']
df_random_user['skills_p3'] = df_random_user['skills_p2']
df_random_user['skfn_p3'] = df_random_user['skfn_p2']
df_random_user['skills_p2'] = df_random_user['skills_past']
df_random_user['skfn_p2'] = df_random_user['skfn_past']
df_random_user['skills_past'] = df_random_user['skills_current']
df_random_user['skfn_past'] = df_random_user['skfn_current']

In [0]:
df_random_user

     employee_id employee_name  ...  skfn_p6                         timestamp
809    a00000809           백XX  ...     None  2025-09-23 09:33:15.850945+09:00
1070   a00001070           안XX  ...     None  2025-09-23 09:33:15.850945+09:00
1027   a00001027           손XX  ...     None  2025-09-23 09:33:15.850945+09:00
3127   a00003126           전XX  ...     None  2025-09-23 09:33:15.850945+09:00
4578   a00004578           임XX  ...     None  2025-09-23 09:33:15.850945+09:00
...          ...           ...  ...      ...                               ...
202    a00000201           배XX  ...     None  2025-09-23 09:33:15.850945+09:00
1594   a00001594           심XX  ...     None  2025-09-23 09:33:15.850945+09:00
1691   a00001689           최XX  ...     None  2025-09-23 09:33:15.850945+09:00
5701   a00005701           안XX  ...     None  2025-09-23 09:33:15.850945+09:00
7015   a00007014           송XX  ...     None  2025-09-23 09:33:15.850945+09:00

[9025 rows x 26 columns]

In [0]:
def update_user_skills(df_user, df_jobskill):
    """
    사용자의 스킬과 숙련도를 업데이트하는 함수
    
    Parameters:
    df_random_user: 사용자 정보 데이터프레임
    df_jobskill: 직무별 스킬 정보 데이터프레임
    """
    
    for idx, row in df_user.iterrows():
        user_job = row['job']
        current_skills = row['skills_current'].split(';')
        num_skills = len(current_skills)
        current_skfn = list(map(int, row['skfn_current'].split(';')))
        # print('유저 정보 가져오기 완료')
    
        # print(f"현재 직무: {user_job}")
        # print(f"현재 스킬: {current_skills}")
        # print(f"현재 숙련도: {current_skfn}")
    
        # 1) 새로운 스킬 추가 (0~2개)
        # 해당 직무에 맞는 스킬 목록 가져오기
        skill_str = df_jobskill[df_jobskill['직무'] == user_job]['스킬']
        job_skills = [s for s in skill_str.iloc[0].split(';') if s]
    
        # 현재 보유하지 않은 스킬들만 필터링
        available_skills = [skill for skill in job_skills if skill not in current_skills]
    
        # 0~2개의 스킬을 랜덤하게 추가
        if num_skills >= 10 or not available_skills:
            num_new_skills = 0
            new_skills = []
        else:
            num_new_skills = random.randint(0, min(2, len(available_skills)))
            new_skills = random.sample(available_skills, num_new_skills)
        # print('새 스킬 추가 완료')
        # print(f"추가할 스킬 개수: {num_new_skills}")
        # print(f"추가할 스킬: {new_skills}")
    
        # 2) 기존 숙련도 업데이트 (+5~20, 최대 100)
        updated_skfn = []
        for prof in current_skfn:
            increase = random.randint(5, 20)
            skfn = min(100, prof + increase)  # 100을 넘지 않도록 제한
            updated_skfn.append(skfn)
        # print('기존 숙련도 업데이트 완료')

        # 3) 새로운 스킬의 숙련도 설정 (기존 최솟값 또는 두번째로 작은 값)
        new_skfn = []
        if new_skills and current_skfn:
            sorted_skfn = sorted(current_skfn)
            if len(new_skills) == 1 and len(sorted_skfn) >= 2:
                # 1개면 최솟값 또는 두번째로 작은 값 중 랜덤 선택
                new_skfn = [random.choice([sorted_skfn[0], sorted_skfn[1]])]
            elif len(new_skills) == 2 and len(sorted_skfn) >= 2:
                # 2개면 각각 최솟값, 두번째로 작은 값 할당
                new_skfn = [sorted_skfn[0], sorted_skfn[1]]
            else:
                # 그 외에는 최솟값만 할당
                new_skfn = [sorted_skfn[0]] * len(new_skills)
        # print('새 스킬 숙련도 설정 완료')

        # 최종 스킬과 숙련도 리스트 생성
        final_skills = current_skills + new_skills
        final_skfn = updated_skfn + new_skfn
        # print('최종 스킬 및 숙련도 리스트 생성 완료')

        # 데이터프레임 업데이트
        df_user.at[idx, 'skills_current'] = ';'.join(final_skills)
        df_user.at[idx, 'skfn_current'] = ';'.join(map(str, final_skfn))
        df_user.at[idx, 'timestamp'] = datetime.datetime.now(pytz.timezone('Asia/Seoul'))

        # print("\n=== 업데이트 결과 ===")
        # print(f"최종 스킬: {final_skills}")
        # print(f"최종 숙련도: {final_skfn}")
        # print(f"업데이트된 skills_current: {row['skills_current']}")
        # print(f"업데이트된 skfn_current: {row['skfn_current']}")
    
    return df_user

df_random_user = update_user_skills(df_random_user, df_jobskill)
df_random_user

     employee_id employee_name  ...  skfn_p6                         timestamp
809    a00000809           백XX  ...     None  2025-09-23 09:56:24.746952+09:00
1070   a00001070           안XX  ...     None  2025-09-23 09:56:24.748089+09:00
1027   a00001027           손XX  ...     None  2025-09-23 09:56:24.748818+09:00
3127   a00003126           전XX  ...     None  2025-09-23 09:56:24.749514+09:00
4578   a00004578           임XX  ...     None  2025-09-23 09:56:24.750144+09:00
...          ...           ...  ...      ...                               ...
202    a00000201           배XX  ...     None  2025-09-23 09:56:30.572601+09:00
1594   a00001594           심XX  ...     None  2025-09-23 09:56:30.573230+09:00
1691   a00001689           최XX  ...     None  2025-09-23 09:56:30.573868+09:00
5701   a00005701           안XX  ...     None  2025-09-23 09:56:30.574515+09:00
7015   a00007014           송XX  ...     None  2025-09-23 09:56:30.575197+09:00

[9025 rows x 26 columns]

In [0]:
df_user.loc[random_indices] = df_random_user

df_user.loc[7015:7020]

     employee_id employee_name  ...  skfn_p6                         timestamp
7015   a00007014           송XX  ...     None  2025-09-23 09:56:30.575197+09:00
7016   a00007015           고XX  ...     None  2025-09-23 09:56:28.833251+09:00
7017   a00007016           손XX  ...     None  2025-09-23 09:56:28.041851+09:00
7018   a00007017           하XX  ...     None  2025-09-23 09:56:29.654535+09:00
7019   a00007018           손XX  ...     None  2025-09-23 09:56:27.971405+09:00
7020   a00007019           하XX  ...     None  2025-09-23 09:56:28.484766+09:00

[6 rows x 26 columns]

In [0]:
df_user

     employee_id employee_name  ...  skfn_past                         timestamp
0      a00000001           임XX  ...       None  2025-09-18 10:29:09.760258+09:00
1      a00000002           조XX  ...       None  2025-09-18 10:29:09.760258+09:00
2      a00000003           송XX  ...       None  2025-09-18 10:29:09.760258+09:00
3      a00000004           조XX  ...       None  2025-09-18 10:29:09.760258+09:00
4      a00000005           서XX  ...       None  2025-09-18 10:29:09.760258+09:00
...          ...           ...  ...        ...                               ...
9995   a00009996           남XX  ...       None  2025-09-18 10:29:09.760258+09:00
9996   a00009997           남XX  ...       None  2025-09-18 10:29:09.760258+09:00
9997   a00009998           송XX  ...       None  2025-09-18 10:29:09.760258+09:00
9998   a00009999           민XX  ...       None  2025-09-18 10:29:09.760258+09:00
9999   a00010000           서XX  ...       None  2025-09-18 10:29:09.760258+09:00

[10000 rows x 16 columns]

In [0]:
# df_user2 = df_user[['employee_id', 'job', 'career', 'skills_current', 'skfn_current', 'skills_past', 'skfn_past','timestamp']].copy()

# df_user2.head(2)

# 데이터 적재

In [0]:
SCHEMA_LEVEL = "bronze"
TABLE_NAME = "brz_employee_info"

POSTGRES_CONN = "postgresql://Drawbridge:asdASD123%21%40%23@cloud-postgredb-server.postgres.database.azure.com:5432/postgres"
engine = create_engine(POSTGRES_CONN, connect_args={"sslmode": "require"})

df_user.to_sql(
    name=TABLE_NAME,
    con=engine,
    schema=SCHEMA_LEVEL,
    if_exists='replace',
    index=False
)

print(f"✅ 수정된 데이터를 {SCHEMA_LEVEL}.{TABLE_NAME} 테이블로 저장 완료")

✅ 수정된 데이터를 bronze.brz_employee_info 테이블로 저장 완료

In [0]:
# from sqlalchemy import text

# SCHEMA_LEVEL = "bronze"
# TABLE_NAME = "brz_employee_info"

# POSTGRES_CONN = "postgresql://Drawbridge:asdASD123%21%40%23@cloud-postgredb-server.postgres.database.azure.com:5432/postgres"
# engine = create_engine(POSTGRES_CONN, connect_args={"sslmode": "require"})

# def update_specific_columns(df, table, schema, primary_key):
#     with engine.begin() as conn:
#         for _, row in df.iterrows():
#             pk_value = row[primary_key]
#             updates = {col: row[col] for col in df.columns if col != primary_key}
#             set_clause = ", ".join([f"{col} = :{col}" for col in updates.keys()])
#             update_query = text(f"""
#                 UPDATE {schema}.{table}
#                 SET {set_clause}
#                 WHERE {primary_key} = :pk_value
#             """)
#             params = {**updates, "pk_value": row[primary_key]}
#             conn.execute(update_query, params)
#         conn.commit()
#     print(f"✅ {schema}.{table} 테이블의 특정 컬럼 업데이트 완료")

# # 모든 object 컬럼을 문자열로 변환
# for col in df_random_user.select_dtypes(include=['object']).columns:
#     df_random_user[col] = df_random_user[col].astype(str).fillna('')

# update_specific_columns(df_random_user, TABLE_NAME, SCHEMA_LEVEL, 'employee_id')